In [2]:
#Q1

import pandas as pd
d = {'apple': 1, 'peach': 6, 'watermelon': 4, 'grapes': 5, 'orange': 2,'banana': 3}
df = pd.DataFrame({'fruits':['apple','melon','strawberry','peach','watermelon','grapes','orange','banana']})

# I want to create a DF, fruits (1st column), Number available (dict)



# Name Qty
# apple 1
# peach 6

In [3]:
d.values()

dict_values([1, 6, 4, 5, 2, 3])

In [5]:
df1 = pd.DataFrame({'fruits': df['fruits'],'total':d})
df1

                fruits  total
0                apple    NaN
1                melon    NaN
2           strawberry    NaN
3                peach    NaN
4           watermelon    NaN
5               grapes    NaN
6               orange    NaN
7               banana    NaN
apple              NaN    1.0
banana             NaN    3.0
grapes             NaN    5.0
orange             NaN    2.0
peach              NaN    6.0
watermelon         NaN    4.0

In [7]:
val = d.values()

df1=pd.DataFrame({'fruits':['apple','melon','strawberry','peach','wtermelon','grapes','orange','banana'],'QTY': val})

ValueError: All arrays must be of the same length

In [8]:
df1 = pd.DataFrame(dict({'fruits': df['fruits'],'total':d}))
df1

                fruits  total
0                apple    NaN
1                melon    NaN
2           strawberry    NaN
3                peach    NaN
4           watermelon    NaN
5               grapes    NaN
6               orange    NaN
7               banana    NaN
apple              NaN    1.0
banana             NaN    3.0
grapes             NaN    5.0
orange             NaN    2.0
peach              NaN    6.0
watermelon         NaN    4.0

In [9]:
values = d.values()
new_dataframe = df.assign(Values = values)
new_dataframe

ValueError: Length of values (6) does not match length of index (8)

In [10]:
d3=pd.DataFrame([d])
d3

   apple  peach  watermelon  grapes  orange  banana
0      1      6           4       5       2       3

In [11]:
df.update(d3)

In [12]:
df

       fruits
0       apple
1       melon
2  strawberry
3       peach
4  watermelon
5      grapes
6      orange
7      banana

In [24]:
import pandas as pd
d = {'apple': 1, 'peach': 6, 'watermelon': 4, 'grapes': 5, 'orange': 2,'banana': 3}
df = pd.DataFrame({'fruits':['apple','melon','strawberry','peach','watermelon','grapes','orange','banana']})


## I need to extract the value from dict d
## Comparison - check the fruit column then add the value accordingly. 
    ## If new fruit then add missing value ('missing')

In [27]:
df['Value'] = df['fruits'].map(d)
df

       fruits  Value
0       apple    1.0
1       melon    NaN
2  strawberry    NaN
3       peach    6.0
4  watermelon    4.0
5      grapes    5.0
6      orange    2.0
7      banana    3.0

In [19]:
col = []
for fruit in df['fruits']:
    if fruit in d:
        print(d[fruit])
        col.append(d[fruit])
    else:
        print('missing')
        col.append('missing')

1
missing
missing
6
4
5
2
3

In [20]:
col

[1, 'missing', 'missing', 6, 4, 5, 2, 3]

In [22]:
df['Values'] = col

In [23]:
df

       fruits   Values
0       apple        1
1       melon  missing
2  strawberry  missing
3       peach        6
4  watermelon        4
5      grapes        5
6      orange        2
7      banana        3

In [15]:
for fruit in df
d.values()

dict_values([1, 6, 4, 5, 2, 3])